.home {
  align-content: center;
  margin-top: 125px;
  margin-bottom: 125px;
}
.home h1 {
  color: #0090ac;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.home h2 {
  color: #0090ac;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 2rem;
}

.home h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 2rem;
}
