.button {
  font: inherit;
  border: 1px solid #0090ac;
  background: #0090ac;
  color: white;
  padding: 0.4rem 1rem;
  cursor: pointer;
  border-radius: 20px;
  width: 610px;
  margin: 0 auto;
  display: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button:hover,
.button:active {
  background: #4cb4c8;
  border-color: #4cb4c8;
}

.button:focus {
  outline: none;
}

.button:disabled,
.button:disabled:hover,
.button:disabled:active {
  background-color: #ccc;
  color: #3f3f3f;
  border-color: #ccc;
  cursor: not-allowed;
}
