.search {
  padding: 15px 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search input {
  height: 50px;
  width: 500px;
  font-size: 20px;
  padding-left: 20px;
  box-shadow: 2px 3px 28px 1px rgba(0, 0, 0, 0.1);
  border: 0px solid transparent;
  border-radius: 30px;
  transition: all 0.2s ease;
}

.search input:focus {
  outline: none;
  box-shadow: 2px 3px 20px 1px rgba(0, 0, 0, 0.3);
}
